.wrapper {
  padding: 8px;
}

.heading {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 12px;
}

.tab-item {
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #4e016a;

  &.active {
    border-color: #000000;
    background-color: #a1d600;
    color: #ffffff;
  }
}

.content {
  padding: 20px 10px;
  height: 300px;
  overflow: auto;
  background-color: #ffffff;
}
